<style>
  a {text-decoration: none !important; pointer-events: auto !important; outline:0!important;}
  .hero-text-box {position: absolute;top: 40%; left: 5%;}
  .hero-text-box h1 {margin: 0;margin-bottom: 10px;color: #fff;font-size: 275%;font-weight:bold; text-transform: uppercase;letter-spacing: 1px;
                      word-spacing: 4px;}
  .hero-text-box h2 {margin: 0;margin-bottom: 20px;color: #fff; font-size:180%; text-transform: uppercase;letter-spacing: 1px;
                      word-spacing: 4px;}
  .btn-full {background-color: #e67e22; border: 1px solid #e67e22; color: #fff; margin-right: 15px; padding: 10px 30px; font-weight: 300; text-decoration: none; transition: background-color 0.2s, border 0.2s, color 0.2s;}
  .btn-full:hover {background-color: #cf6d17; border: 1px solid #cf6d17; color: #fff;}
  
      
  </style>
  
  
  
  <div class="row">
  <div class="col-lg-16 col-md-16 col-md-24"> 
  <div class="slider_block">
  <div class="hm_for">
      <div>
          <a href="https://bit.ly/2IhqxZS">
              <img class="img-fluid" src="{{media url="wysiwyg/promotions/banner_section/thar_mobile.jpg"}}" alt="Mahindra Thar Merchandise" />
          </a>
      </div>
      <div>
          <a href="https://www.m2all.com/mahindra-implements-for-farm.html" target="_blank">
              <img class="img-fluid" src="{{media url="/wysiwyg/promotions/agri_imp_1.jpg"}}" alt="" />
          </a>
      </div>
      
      <div>
          <a href="https://bit.ly/3nq8v7p">
              <img class="img-fluid" src="{{media url="/wysiwyg/promotions/banner_section/supro_mob.jpg"}}" alt="Mahindra SCV" />
          </a>
      </div>
      
      <div>
          <a href="https://bit.ly/35Epz1q" target="_blank">
             <img class="img-fluid" src="{{media url="wysiwyg/promotions/banner_section/xuv300_acc.jpg"}}" alt="Mahindra XUV300 Accessories" />
          </a>
      </div>
  
      <div>
          <a href="https://www.m2all.com/mahindra-genuine-spares/bikes-spare-parts.html" target="_blank">
             <img class="img-fluid" src="{{media url="wysiwyg/promotions/bikespareparts.jpg"}}" alt="Mahindra Bike Spare Parts" />
          </a>
      </div> 
  
  </div>
      
  <div class="hm_nav">
  <div><span class="text_model">Mahindra Sanitizers</span> <span class="book_online"></span></div>
  <div><span class="text_model">Alloy Wheels</span> <span class="book_online"></span></div>
  <div><span class="text_model">Mojo Sale</span> <span class="book_online"></span></div>
  <div><span class="text_model">Engine Oils</span> <span class="book_online"></span></div>
  <div><span class="text_model">Eco-Friendly Mugs</span> <span class="book_online"></span></div>
  </div>
      
  </div>
  </div>
  <div class="col-lg-8 col-md-24">{{block type="core/template" template="catalog/home/view.phtml"}}</div>
  </div>